{% extends 'backoffice.html.twig' %}
{% block title %}
    {{ parent() }}liste matieres
{% endblock %}
{% block titre %}
    Liste des matieres
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/select2.css') }}">

    {{ form(form) }}


    <table class="table table-hover mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>




        <tbody>

        {% for matiere in matieres %}

            <tr class="table-active">
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom}}</td>

                <td><div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a href="" class="btn btn-primary nav-link active">Actions</a>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                <a class="dropdown-item" href="{{ path('modificationMatiere', {'id': matiere.id}) }}">Modifier</a>
                                <a class="dropdown-item" onclick="return alert('Etes vous sûr de vouloir supprimer cette matiere')" href="{{ path('suppressionMatiere', {'id': matiere.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        {% else %}

            <h4 class="text-center">Aucune matiere n'est enregistrée</h4>

        {% endfor %}

        </tbody>
    </table>

    <script src="{{ asset('js/jquery.min.js') }}" ></script>
    <script src="{{ asset('js/select2.js') }}"  ></script>
    <script>
        $(function (){

            $('.select2').select2()
        })


    </script>



{% endblock %}



