{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12 text-center">

        <h6>Photo actuelle</h6>
        <img src="{{ asset('')~ produit.photo }}" style='width:300px'>

    </div>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.modifPhoto, {'attr':{ 'onChange':'loadFile(event)' } }) }}

    <div class="col-md-12 text-center">

        <img id="image" style='width:300px'>

    </div>

    {{ form_row(form.valider) }}
    {{ form_end(form) }}






    <script>

        var loadFile = function (event) {
            var image = document.getElementById('image');

            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>


{% endblock %}

{% block title %}

{% endblock %}

